body {
  background-color: pink;
  color: purple;
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: lighter;
}
h1, h2 {
  color: #6B72E1;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 40px;
}
h3 {
  color: deeppink;
  font-size: medium;
}

img {
  margin-top: 40px;
  align-self: center;
}

.container {
  width: 800px;
  margin: 0 auto;
  /* text-align: center; */
  background: fixed;
  background-color: #B5F1CC;
  border: 100px;
  border-radius: 50px;
  box-shadow: 10px, 50px, black;
}

.welcome-card {
  margin: 100px;
  background-color: #A61F69;
  /* color: rgb(93, 41, 141); */
  align-self: center;
  height: 300px;
  /* width: 400px; */
}

.link-card {
  background-color: darkmagenta;
  /* color: #6B72E1; */
  align-content: center;
  margin-bottom: 50px;
  /* margin-top: 200px; */
}

.text-centre {
  text-align: center;
}
.img-circle {
  border-radius: 50%;
  margin: 100px;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: double;
  color: #F2921D;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
